@import "./reset.scss";
@import "./theme";
@import "./mixins.scss";
@import "./mobile.scss";
html{
  font-size: $font-size-base;
}
html, body {
  height: 100%;
}
.iconfont{
  color:$text-light
}
// 滚动条
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  overflow: auto;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #9b9999;
  min-height: 25px;
  min-width: 25px;
  border: 1px solid #e0e0e0;
}

::-webkit-scrollbar-track {
  background-color: #f7f7f7;
  border: 1px solid #efefef;
}

.page-enter-active, .page-leave-active {
  transition: opacity .25s
}
.page-enter, .page-leave-active {
  opacity: 0
}

.slide-up-enter{  //定义进入过渡的开始状态。在元素被插入之前生效，在元素被插入之后的下一帧移除。
  transform: translate3d(0,150px,0);
  opacity: 0.3;
}
.slide-up-enter-active {  //定义进入过渡生效时的状态。在整个进入过渡的阶段中应用，在元素被插入之前生效，在过渡/动画完成之后移除。这个类可以被用来定义进入过渡的过程时间，延迟和曲线函数。
  transition: all .2s ease-in-out;
  transition-delay: 0.1ms;
}
.slide-up-enter-to{ // 2.1.8版及以上 定义进入过渡的结束状态。在元素被插入之后下一帧生效 (与此同时 v-enter 被移除)，在过渡/动画完成之后移除。
  transform: translate3d(0,0,0);
  opacity: 1;
}

.slide-leave{ //定义离开过渡的开始状态。在离开过渡被触发时立刻生效，下一帧被移除。
  transform: translate3d(0,0,0);
  opacity: 1;
}
.slide-up-leave-active { //定义离开过渡生效时的状态。在整个离开过渡的阶段中应用，在离开过渡被触发时立刻生效，在过渡/动画完成之后移除。这个类可以被用来定义离开过渡的过程时间，延迟和曲线函数。
  transition: all .2s ease-in-out;
}

.slide-up-leave-to { //定义离开过渡的结束状态。在离开过渡被触发之后下一帧生效 (与此同时 v-leave 被删除)，在过渡/动画完成之后移除。
  transform: translate3d(0,-150px,0);
  opacity: 0.3;
}

.slide-left-enter-active, .slide-left-leave-active {
  transition: all .2s cubic-bezier(0, 1.2, 1, 0.5);
  opacity: .5;
  transform: translate3d(2em, 0, 0);
}

.slide-left-enter, .slide-left-leave-active {
  opacity: .3;
  transform: translate3d(2em, 0, 0);
}

.slide-right-enter-active, .slide-right-leave-active {
  transition: all .4s cubic-bezier(0, 1.2, 1, 0.5);
  opacity: .5;
  transform: translate3d(5em, 0, 0);
}
.slide-right-enter, .slide-right-leave-active {
  opacity: .3;
  transform: translate3d(5em, 0, 0);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .25s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}
.fade-move {
  transition: transform .25s;
}



.module-enter-active, .module-leave-active {
  transition: opacity .25s
}
.module-enter, .module-leave-active {
  opacity: 0
}

.aside-enter-active {
  transition: opacity .25s cubic-bezier(1, -1.17, 1, -1.17);
}
.aside-leave-active {
  transition: opacity 0s
}
.aside-enter, .aside-leave-active {
  opacity: 0
}
