@mixin css-var($text, $app-bg,$container-bg, $secondary-bg,$module-hover-bg,$primary,$info,$success,$warning,$error) {

  #{--color}: $text;

  #{--app-bg}: $app-bg;
  #{--container-bg}: $container-bg;

  #{--secondary-bg}: $secondary-bg;
  #{--secondary-bg-darken}: darken($secondary-bg, 15%);
  #{--secondary-bg-lighten}: lighten($secondary-bg, 15%);

  #{--module-hover-bg}:$module-hover-bg;
  #{--module-hover-bg-darken}: darken($module-hover-bg, 5%);
  #{--module-hover-bg-complement}: complement($module-hover-bg);

  #{--container-bg-opacity}: rgba($container-bg, 0.6);

  #{--primary}: $primary;
  #{--primary-darken}: darken($primary,10%);
  #{--primary-lighten}: lighten($primary,12%);

  #{--info}:$info;
  #{--success}:$success;
  #{--warning}:$warning;
  #{--error}:$error;


  #{--text-color}: $text;
  #{--text-light}: lighten($text, 20%);
  #{--text-dark}: darken($text, 30%);
  #{--text-secondary}: rgba($text, .54);
  #{--text-invert}:invert($text);
  #{--text-disabled}: rgba($text, .38);
  #{--text-dividers}: rgba($text, .26);


  #{--link-color}: $text;
  #{--link-active-color}: $primary;
  #{--link-hover-color}: invert($container-bg, 20%);
}

#app {

  &.theme-default {
    @include css-var(
            $text: #000,
            $app-bg: #f8f8f8,
            $container-bg: #fff,
            $secondary-bg: #c5c5c5,
            $module-hover-bg: #e6f7ff,
            $primary: #2d8cf0,
            $info: #2db7f5,
            $success: #19be6b,
            $warning: #ff9900,
            $error: #ed4014
    );
  }

  &.theme-dark {
    @include css-var(
            $text: #eee,
            $app-bg: #3c3f41,
            $container-bg: #293134,
            $secondary-bg: rgba(90, 130, 130, 0.6),
            $module-hover-bg: rgba(30, 30, 30, 0.7),
            $primary: #ff718e,
            $info: #2db7f5,
            $success: #19be6b,
            $warning: #ff9900,
            $error: #ed4014
    );
  }
}
