// PC Theme Color
$app-bg: var(--app-bg);
$container-bg:var(--container-bg);
$container-bg-opacity: var(--container-bg-opacity);

$secondary-bg:var(--secondary-bg);
$secondary-bg-darken:var(--secondary-bg-darken);
$secondary-bg-lighten:var(--secondary-bg-lighten);

$module-hover-bg:var(--module-hover-bg);
$module-hover-bg-darken: var(--module-hover-bg-darken);
$module-hover-bg-complement: var(--module-hover-bg-complement);

$primary: var(--primary);
$primary-darken: var(--primary-darken);
$primary-lighten: var(--primary-lighten);

$info: var(--info);
$success: var(--success);
$warning: var(--warning);
$error: var(--error);

// Text
$text: var(--text-color);
$text-dark: var(--text-dark);
$text-light: var(--text-light);
$text-secondary: var(--text-secondary);
$text-invert:var(--text-invert);
$disabled: var(--text-disabled);
$dividers: var(--text-dividers);

$container-pd:10px;
$box-shadow:0 2px 12px 0 rgba(0,0,0,.1);
$trans: all .3s ease-in-out;


// Typography
$line-height-base: 1.4;
$font-size-base: 14px;
$font-size-menu:15px;
$font-size-l: 16px;
$font-size-xl:20px;
$font-size-s: 12px;
$font-size-h1: 2rem;
$font-size-h2: 1.75rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.2rem;
$font-size-h5: 1rem;
$font-size-h6: $font-size-s;





$border: 1px solid $dividers;
// Links
$link-color: var(--link-color);
$link-active-color:var(--link-active-color);
$link-hover-color: var(--link-hover-color);


// Container
$header-height: 56px;




